<section>
  <div
    class="bg-self container-fluid footer d-flex gap-5 align-items-center justify-content-center"
  >
    <div class="row container-fluid text-light text-center gap-lg-0 gap-2">
      <div class="col-md-4">
        <div>
          <h1 class="fs-2">LOCATION</h1>
          <h2 class="fw-lighter small mb-lg-3">2215 John Daniel Drive</h2>
          <p class="small">Clark, MO 65243</p>
        </div>
      </div>
      <div class="col-md-4">
        <div>
          <h2 class="fs-3">AROUND THE WEB</h2>
          <div class="d-flex gap-3 justify-content-center mt-lg-3 fs-6">
            <i class="fa-brands fa-facebook class-i"></i>
            <i class="fa-brands fa-twitter class-i"></i>
            <i class="fa-brands fa-linkedin class-i"></i>
            <i class="fa-solid fa-globe class-i"></i>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div>
          <h3 class="fs-3 mb-0 pb-0 mt-3">ABOUT FREELANCER</h3>

          <p class="small">
            Freelance is a free to use, licensed Bootstrap theme created by
            Route
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div
    class="text-center text-light footer2 d-flex align-items-center justify-content-center"
  >
    <p class="mb-0 pb-0">Copyright © Your Website 2021</p>
  </div>
</section>
